<div class="examBox">
    <div class="examhead text-center"><h2>اختبار{{subject?.subjectValue}}</h2></div>
    <div class="quizBox" *ngFor="let i of subject?.questionsArr; let n=index">
        <strong ><span class="text-danger">سؤال {{n+1}}: </span>  {{i.question}}</strong>
        <div class="row mt-3" >
            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer1" color="warn" *ngIf="user?.role == 'students'" ></mat-radio-button>
                <label>{{i.answer1}} (A)</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer2"  color="warn" *ngIf="user?.role == 'students'" ></mat-radio-button>
                <label> {{i.answer2}}  (B)</label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer3"  color="warn" *ngIf="user?.role == 'students'" ></mat-radio-button>
                <label> {{i.answer3}}  (C) </label>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-radio-button value="answer4" color="warn"  *ngIf="user?.role == 'students'"></mat-radio-button>
                <label> {{i.answer4}}  (D)</label>
            </div>
        </div>


        <div class="text-right p-2">
          <button mat-raised-button class="btn btn-warning" *ngIf="user?.role == 'doctor'" >تعديل</button>
          <button mat-raised-button   class="btn btn-danger" *ngIf="user?.role == 'doctor'"    (click)="delete(n)"  >حذف</button>
      </div>

      <hr>
    </div>


    <div class="text-center" *ngIf="user?.role == 'students'" >
        <button class="btn btn-success px-5 fs-5"> النتيجة</button>
    </div>

</div>
