
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Degree Table</title>
<style>
    table {
    margin-top: 50px;
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>الاسم</th>
            <th>المادة</th>
            <th>الدرجة</th>
        </tr>
    </thead>
    <tbody *ngFor="let student of stuArr">
        <tr>
            <td>{{student.username}}</td>

            <td>
              <ng-container *ngFor="let subject of student.subjectsArr">
                {{ subject.name }}<br>
              </ng-container>
            </td>

            <td>
              <ng-container *ngFor="let degree of student.subjectsArr">
                {{ degree.degree }}<br>
              </ng-container>
            </td>

        </tr>

    </tbody>
</table>

</body>
</html>
